@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
    /* Hide scrollbar for cleaner look in PWA */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
